<li class="list-group-item " data-comment-id="{{ comment.id }}">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-sm">
                <div class="row">
                    <div class="col">
                        {{ comment.comment }}
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row justify-content-end pr-1">
                    <div class="col-1">
                        <i class="fas fa-times remove" data-comment-id="{{ comment.id }}"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</li>
