<div class="ui grid">
    <div class="two column row">
        <div class="column">
            <label>{{ titleLabel }}</label>
        </div>
        <div class="column">
            <input type="file" class="inputfile" id="embedpollfileinput"/>
        </div>
    </div>
</div>