<li class="list-group-item">
    <a id="{{ folder.id }}" class="list-group-item-action d-flex align-items-baseline justify-content-start">
        <i class="far fa-circle entry-icon"></i> {{ folder.name }}
    </a>
</li>