<form>
    <div class="form-group">
        <label>{{ titleLabel }}</label>
        <input type="text" class="form-control" id="nff__title" aria-describedby="emailHelp"
               placeholder="{{ titlePlaceHolder }}">
    </div>
</form>