<div id="no-passwords" class="d-flex flex-column flex-grow-1 justify-content-center align-items-center ">
    <i class="fas fa-key fa-5x"></i>
    <h2 class="text-center">{{ noPasswordsAvailable }}</h2>
    <p class="uploadmessage">{{ noPasswordsAvailableDescription }}</p>
</div>
