<div class="form-control form-control prompt" data-user-id="{{ data.user_id }}">
    <div class="row justify-content-start">
        <div class="col-0 ml-2 mr-0 ">
            <img src="{{ data.image }}" alt="Avatar"
                 class="avatar pt-1 pb-1">
        </div>
        <div class="col ml-2 mr-0 ">{{ data.longName }}</div>
    </div>
</div>
