<phpunit
        bootstrap="bootstrap.php"
        cacheResultFile="result/result.php"
        verbose="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Keestash">
            <directory>../test</directory>
        </testsuite>
        <testsuite name="Apps">
            <directory>../apps/*/Test</directory>
        </testsuite>
    </testsuites>
</phpunit>