<phpunit
        bootstrap="bootstrap.php"
        cacheResultFile="result/result.json"
        verbose="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Keestash">
            <directory>../test</directory>
        </testsuite>
        <testsuite name="Apps">
            <directory>../apps/*/Test</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>../test</directory>
            <directory>../apps/*/Test</directory>
        </include>
    </coverage>
</phpunit>