<div class="ui grid">
    <div class="four wide column">
        <h5>{{profilepicture}}</h5>
        <div class="ui card">
            <a class="image" href="">
                <label for="tl__pi__picture"></label>
                <img id="tl__pi__picture"
                     src="{{imageURL}}">
            </a>
            <div class="content">
                <div class="ui centered grid">
                    <div class="two wide grid time" id="tl__pi__upload__profile__picture">
                        <i class="fas fa-arrow-circle-up"></i>
                        {{upload}}
                    </div>
                    <div class="two wide grid time" id="tl__pi__remove__profile__picture"><i
                            class="fas fa-trash-alt"></i>{{delete}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="twelve wide column">
        <form class="ui form" id="tl__pi__form">
            <h4 class="ui dividing header">{{personalInformation}}</h4>
            <div class="field">
                <div class="three fields">
                    <div class="field">
                        <label>{{userName}}</label>
                        <input
                                id="tl__pi__user__name"
                                name="tl__pi__user__name"
                                placeholder="{{userNamePlaceholder}}"
                                type="text"
                                value="{{user.getName()}}"
                        >
                    </div>
                    <div class="field">
                        <label>{{firstName}}</label>
                        <input
                                id="tl__pi__first__name"
                                name="tl__pi__first__name"
                                placeholder="{{firstNamePlaceholder}}"
                                type="text"
                                value="{{user.getFirstName()}}"
                        >
                        <input
                                id="tl__pi__user__id"
                                name="tl__pi__user__id"
                                type="hidden"
                                value="{{user.getId()}}"
                        >
                    </div>
                    <div class="field">
                        <label>{{lastName}}</label>
                        <input
                                id="tl__pi__last__name"
                                name="tl__pi__last__name"
                                placeholder="{{lastNamePlaceHolder}}"
                                type="text"
                                value="{{user.getLastName()}}"
                        >
                    </div>
                    <div class="field">
                        <label>{{userHash}}</label>
                        <input
                                type="text"
                                value="{{user.getHash()}}"
                        >
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="fields">
                    <div class="six wide field">
                        <label>{{email}}</label>
                        <input
                                id="tl__pi__email"
                                name="tl__pi__email"
                                placeholder="{{emailPlaceHolder}}"
                                type="text"
                                value="{{user.getEmail()}}"
                        >
                    </div>
                    <div class="six wide field">
                        <label>{{phone}}</label>
                        <input
                                id="tl__pi__phone__number"
                                name="tl__pi__phone__number"
                                placeholder="{{phonePlaceholder}}"
                                type="text"
                                value="{{user.getPhone()}}"
                        >
                    </div>
                    <div class="six wide field">
                        <label>{{website}}</label>
                        <input
                                id="tl__pi__website"
                                name="tl__pi__website"
                                placeholder="{{webPlaceHolder}}"
                                type="text"
                                value="{{user.getWebsite()}}"
                        >
                    </div>
                </div>
            </div>
            <button class="ui primary button" tabindex="0">{{save}}</button>
        </form>
    </div>
</div>

<data-node data-default-image="{{defaultImage}}" id="pi-data-node"></data-node>
<input class="uploadFile" id="tl__upload__pp" type="file" value="upload"/>
