<div class="ui grid">
    <div class="sixteen wide column">
        <form class="ui form" id="tl__security__password__form">
            <h4 class="ui dividing header">{{security}}</h4>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>{{currentPasssword}}</label>
                        <input id="tl__sc__current__password" name="tl__sc__current__password"
                               placeholder="{{currentPassswordPlaceholder}}"
                               type="password">
                        <input id="tl__sc__user__id" name="tl__sc__user__id" type="hidden" value="{{userId}}">
                    </div>
                    <div class="field">
                        <label>{{password}}</label>
                        <input id="tl__sc__password" name="tl__sc__password" placeholder="{{passwordPlaceholder}}"
                               type="password">
                    </div>
                    <div class="field">
                        <label>{{passwordRepeat}}</label>
                        <input id="tl__sc__password__repeat" name="tl__sc__password__repeat"
                               placeholder="{{passwordRepeatPlaceholder}}"
                               type="password">
                    </div>
                </div>
            </div>
            <button class="ui primary button">{{save}}</button>
        </form>
    </div>
</div>