{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      },
      "@vue/cli-plugin-babel/preset"
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}

