Order Deny,Allow
Deny from all
DirectoryIndex index.php
Options -Indexes
IndexIgnore *

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files index.html>
    Order Allow,Deny
    Allow from all
</Files>

<Files api.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files ~ "\.(xml|css|jpe?g|png|gif|js|pdf|woff2|PNG|ico)$">
    Allow from all
</Files>

