@import "style";

.reset-password {
  .reset-password-wrapper {
    min-height: 100vh;
    position: relative;

    .formbox {
      background: rgba(255, 255, 255, 0.4);
      padding: 20px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
      max-width: 400px;
      width: 90%;
      margin: 10% 0;

      #reset-password-form {

        .logo {
          text-align: center;

          #logo-image {
            height: 5rem;
          }
        }
      }


    }


  }

}
