<div class="ui container">
    <h1>{{ header }}</h1>
    {% for key, value in databaseReachable %}
        {% if key =='database_reachable' %}
            <div class="field">
                <label>{{ dbNotReachableLabel }}</label>
                <p>{{ dbNotReachableDescription }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>
