@import "style";
@import "vue-select/src/scss/vue-select.scss";

#no-passwords {
  color: $grey;
  height: 100vh;
}

.node_container {
  overflow-y: auto;
}

.contextmenu {
  cursor: pointer;
}
.pwm__row {
  border-top: 1px solid $keestash-theme-color-border-grey;
}

.pwm__row:hover {
  background-color: $keestash-theme-color-border-grey;
}

.node-logo-color {
  color: $keestash-theme-color-inverted-darker3;
}
.cropped {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#pwm__node__detail {
  height: 100vh;
  #pwm__detail__part {
    color: $keestash-text-color;

    .node-avatar {
      height: $keestash-avatar-size-m;
    }

    #tab__detail__wrapper {
      #pwm__tab__content {

        .favorite {
          color: $keestash-color-yellow;
        }

        #pwm__sharing {

          .copy__link__visible {
            display: flex !important;
            align-items: end !important;
            flex-direction: column !important;
          }

          .copy__link__invisible {
            display: none;
          }

        }

        .tab_result_box {
          margin-top: 5vh;
          margin-bottom: 5vh;
          height: 30vh;

          .list-group {
            overflow: auto;
            height: 100%;

            .list-group-item {
              padding: 0 15px;
              line-height: 2em;
            }

          }
        }

      }
    }


  }
}


a:visited, a:hover, a:active {
  color: $keestash-text-color !important;
}


.customtab .nav-link {
  border: 0;
  padding: 15px 20px;
  border-bottom: 2px solid rgba(120, 130, 140, .13)
}

.customtab .nav-link.active,
.customtab .nav-link:hover {
  border-color: #007bff
}

.twitter-typeahead {
  width: 100%;
}

.context-menu-menu-badge {
  cursor: pointer;
}

.default-svg {
  height: 4vh;
}


.breadcrumb-item {
  cursor: pointer;
}

#pwm__password__eye {
  cursor: pointer;
}

#pwm__url__button {
  cursor: pointer;
}

#share-no-data-found {
  margin-top: 10px;
}

.dropbox {
  outline-offset: -10px;
  background: $keestash-theme-color-inverted;
  color: $keestash-text-color;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  position: absolute;
  cursor: pointer;
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
}

.btn-public-share {
  background: white !important;
  border: $keestash-theme-color solid 1px !important;
  color: $keestash-theme-color !important;
}