<div class="ui basic modal">
    <div class="ui icon header">
        <i class="archive icon"></i>
        {{ header }}
    </div>
    <div class="content">
        <p>{{ question }}</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            {{ no }}
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            {{ yes }}
        </div>
    </div>
</div>