<div class="ui long test modal">
    <div class="header">{{ header }}</div>
    <div class="description">{{ description }}</div>
    <div class="actions">
        <div class="ui primary approve button">{{ buttonText }}
            <i class="right chevron icon"></i>
        </div>
    </div>
</div>