@import "style";

.login {

  .auth-wrapper {
    min-height: 100vh;
    position: relative;

    .auth-box {
      background: rgba(255, 255, 255, 0.4);
      padding: 20px;
      max-width: 400px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
      width: 90%;
      margin: 10% 0;

      #demoMode {
        #sensitiveData {
          color: red;
        }
      }

      .logo {
        text-align: center;

        #logo-image {
          height: 5rem;
        }

      }
    }

  }

}
