includes:
    - %rootDir%/../../../config/phpstan/baseline.neon
parameters:
	excludePaths:
	    - %rootDir%/../../
	    - %rootDir%/../../../lib/private/Core/Repository/Migration/*
	    - %rootDir%/../../../apps/*/Repository/Migration/*
	checkMissingIterableValueType: false
	treatPhpDocTypesAsCertain: false
	checkGenericClassInNonGenericObjectType: false
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
	    - '#Property (.*) is never read, only written+\.#'
	    - '#Constant (.*) is unused#'
	    - '#Cannot cast mixed to (.*)#'
	    - '#Parameter (.*) of class (.*) constructor expects (.*), mixed given\.#'