parameters:
	excludes_analyse:
	    - %rootDir%/../../
	    - %rootDir%/../../../lib/private/Core/Repository/Migration/*
	    - %rootDir%/../../../apps/*/lib/Repository/Migration/*
	    - %rootDir%/../../../apps/*/info/*
	checkMissingIterableValueType: false
	treatPhpDocTypesAsCertain: false
