@import "style";

hr.solid {
  border-top: 2px solid #ced4da;
}

hr.hr-text {
  position: relative;
  border: none;
  height: 1px;
  background: #ced4da;
}

hr.hr-text::before {
  content: attr(data-content);
  display: inline-block;
  background: #fff;
  font-weight: bold;
  font-size: 0.85rem;
  color: #999999;
  border-radius: 30rem;
  padding: 0.2rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.remove-badge {
  cursor: pointer;
}
