@import "style";

#organization-list {
  max-height: 50vh;
  min-height: 50vh;
  overflow-y: auto;
}

.flex-basis-0 {
  flex-basis: 0;
}

.activation-badge {
  cursor: pointer;
}

.user-input {
  border-radius: 0;
}