@import "../../../lib/scss/style";

.register {
  .register-wrapper {
    min-height: 100vh;
    position: relative;

    .register-box {
      background: transparent;
      padding: 20px;
      max-width: 800px;
      margin: 5% 0;

      .logo {
        text-align: center;

        #logo-image {
          height: 5rem;
        }

      }
    }

    .hidden-invalid {
      color: $keestash-error-text-color-red;
    }

  }


}
