@import "style";

.keestash-about {
  padding-left: 1vh;
  padding-right: 1vh;

  .application-image {
    img {
      max-height: 40vh;
      max-width: 40vh;
    }
  }

  .info-chip {
    color: $grey-dark;
    flex: 1;
  }
}