{% if appNavigation.length() > 0 %}
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            {% for id, segment in appNavigation %}
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>{{ segment.getTitle() }}</span>
                </h6>
                {% for id2, entry in segment.getEntries() %}
                    <li class="nav-item">
                        <a class="nav-link active"

                           href="{{ entry.getHref() == null ? '#' : entry.getHref() }}"
                        >{{ entry.getTitle() }}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
