<body class="d-flex flex-grow-1 flex-column">
{% if staticContext == false %}
    {{ navigation|raw }}
{% endif %}
{{ content|raw }}
{% if staticContext == false %}
    {{ footer|raw }}
{% endif %}
</body>
