<body>
<div class="{{ staticContext ? 'container-fluid p-0' : 'container-fluid' }} ">
    {% if staticContext == false %}
        <div class="row navigation-wrapper">
            {{ navigation|raw }}
        </div>
    {% endif %}
    <div class="row">
        {{ content|raw }}
    </div>
{#    {% if staticContext == false %}#}
{#        <div class="row">#}
{#            <div class="col ">#}
{#                {{ footer|raw }}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
</div>
</body>
