<nav aria-label="breadcrumb">
    <ol class="breadcrumb" id="tl__breadcrumbs">
        {% for key, value in bc %}
            <li class="breadcrumb-item" data-id="{{ value.getId() }}"><a href="#">{{ value.getName() }}</a></li>
        {% endfor %}
    </ol>
</nav>
