<div id="content">
    {% if hasAppNavigation == true %}
        {{ appNavigation|raw }}
    {% endif %}
    <div class="sixteen wide column">{{ appContent|raw }}</div>

    {#        {% if hasBreadcrumbs == true %}#}
    {#            <div id="breadcrumb__wrapper">#}
    {#                {{ breadcrumbs|raw }}#}
    {#            </div>#}
    {#        {% endif %}#}
    {#        {{ appContent|raw }}#}
    {#</div>#}
