<div class="d-flex flex-row" id="content">
    {% if hasAppNavigation == true %}
        {{ appNavigation|raw }}
    {% endif %}
    <div class="d-flex flex-column bg-white" id="app-content">
        <div class="d-none" id="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" id="breadcrumb">
                    <li class="breadcrumb-item invisible">breadcrumb</li>
                </ol>
            </nav>
        </div>
        <div class="d-flex flex-grow-1" id="app-content-inner">
            {{ appContent|raw }}
        </div>
    </div>
</div>
