<div class="d-flex flex-row" id="content">
    {% if hasAppNavigation == true %}
        {{ appNavigation|raw }}
    {% endif %}
    <div class="bg-white overflow-auto" id="app-content">
        {{ appContent|raw }}
    </div>
</div>
