<div class="container-fluid">
    <div class="row">
        {% if hasAppNavigation == true %}
            <div class="col-sm-2 d-flex app-navigation-background">
                {{ appNavigation|raw }}
            </div>
        {% endif %}

        <div class="col g-0 flex-grow-1">
                {{ appContent|raw }}
        </div>
    </div>
</div>