<div class="ui very wide right credential sidebar vertical menu">
    <a class="header item">
        <h2 class="ui header">
            <i class="large icons">
                <i class="{{ icon }} middle aligned icon"></i>
            </i>
            {{ header }}
        </h2>
    </a>
    {{ content }}
</div>