<table class="ui compact celled definition table">
    <thead class="full-width">
    <tr>
        <th></th>
        <th>{{name}}</th>
        <th>{{firstName}}</th>
        <th>{{lastName}}</th>
        <th>{{email}}</th>
        <th>{{registerDate}}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, user in users%}
    <tr>
        <td class="collapsing">
            <div class="ui fitted slider checkbox">
                <input type="checkbox"> <label></label>
            </div>
        </td>
        <td>{{user.getName()}}</td>
        <td>{{user.getFirstName()}}</td>
        <td>{{user.getLastName()}}</td>
        <td>{{user.getEmail()}}</td>
        <td>{{user.getCreateTs().format('d.m.Y H:i:s')}}</td>
    </tr>
    {%endfor%}
    </tbody>
    <tfoot class="full-width">
    <tr>
        <th></th>
        <th colspan="5">
            <button class="ui right floated small primary labeled icon button" id="tl__add__users__button">
                <i class="user icon"></i> Add User
            </button>
        </th>
    </tr>
    </tfoot>
</table>

<div class="ui modal" id="tl__add__new__book__to__list__modal">
    <i class="close icon"></i>
    <div class="header">
        {{modalTitle}}
    </div>
    <div class="image content">
        <div class="image">
            <img class="ui small image" id="tl__book__cover__image" src="{{profileImage}}">
            <small>{{imageDescription}}</small>
        </div>
        <div class="description">
            <div id="tl__response__div"></div>
            <div class="ui header">{{header}}</div>
            <p>{{description}}</p>
            <form class="ui form" id="tl__new__user__form">
                <div class="field">
                    <label>{{userNameLabel}}</label>
                    <input id="tl__user__name" name="tl__user__name" placeholder="{{userNamePlaceholder}}"
                           type="text">
                </div>
                <div class="field">
                    <label>{{firstNameLabel}}</label>
                    <input id="tl__first__name" name="tl__first__name" placeholder="{{firstNamePlaceholder}}"
                           type="text">
                </div>
                <div class="field">
                    <label>{{lastNameLabel}}</label>
                    <input id="tl__last__name" name="tl__last__name" placeholder="{{lastNamePlaceholder}}"
                           type="text">
                </div>
                <div class="field">
                    <label>{{emailLabel}}</label>
                    <input id="tl__email" name="tl__email" placeholder="{{emailPlaceholder}}" type="text">
                </div>
                <div class="field">
                    <label>{{phoneLabel}}</label>
                    <input id="tl__phone" name="tl__phone" placeholder="{{phonePlaceholder}}" type="text">
                </div>
                <div class="field">
                    <label>{{passwordLabel}}</label>
                    <input id="tl__password" name="tl__password" placeholder="{{passwordPlaceholder}}"
                           type="text">
                </div>
                <div class="field">
                    <label>{{passwordRepeatLabel}}</label>
                    <input id="tl__password__repeat" name="tl__password__repeat"
                           placeholder="{{passwordRepeatPlaceholder}}"
                           type="text">
                </div>
                <div class="field">
                    <label>{{websiteLabel}}</label>
                    <input id="tl__website__name" name="tl__website__name" placeholder="{{websitePlaceholder}}"
                           type="text">
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <div class="ui tiny button deny">{{cancel}}</div>
        <div class="ui tiny green button approve">{{addUser}}</div>
    </div>
</div>