<div class="ui text container">
    <form class="ui form" id="import__keepass">
        <div class="field">
            <label>{{ titleLabel }}</label>
            <input type="file" class="inputfile" id="import__file"/>
        </div>
    </form>
</div>