<div class="ui basic placeholder segment" id="no-detail-clicked">
    <div class="ui icon header">
        <i class="key icon"></i>
        {{ noDetailHere }} {{ groupName }}
    </div>
    <div class="ui center aligned container">{{ text }}</div class="ui center container">
</div>