<div class="row no-gutters">
    <div class="col-sm">
        <div class="d-none ks-border-bottom" id="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" id="breadcrumb">
                    <li class="breadcrumb-item invisible">breadcrumb</li>
                </ol>
            </nav>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-3 node_container">
                <div class="d-flex flex-column">
                    <div class="col p-3 b-b">
                        <div class="d-flex align-items-center">
                            <input
                                    placeholder="{{ searchPasswords }}"
                                    id="pwm_search_passwords"
                                    type="text"
                                    class="form-control form-control-sm"
                            >
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-start flex-grow-1 b-b coll"
                         id="pwm__node__container">
                        <div class="container-fluid" id="table__body"></div>
                        <div id="pwm__node__container__spinner"
                             class="justify-content-center flex-column flex-grow-1 d-none row">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"><span
                                        class="sr-only">Loading...</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="pwm__node__detail">
                    <div id="no-passwords"
                         class="d-flex flex-column flex-grow-1 justify-content-center align-items-center"
                    >
                        <div class="d-flex flex-column justify-content-between align-items-center">
                            <i class="fas fa-key fa-3x"></i>
                            <h3 class="text-color-grey-dark">{{ nothingClicked }}</h3>
                            <p class="uploadmessage">{{ nothingClickedDescription }}</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>