<div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </div>
    <div class="ui primary button">Add Document</div>
</div>
