<div class="ui center aligned container">
    <h1>{{doYouLikeTheApp}}</h1>
    <p>{{doYouLikeTheAppSlogan}}</p>
    <div class="ui centered cards">

        <div class="card">
            <div class="content">
                <div class="header">{{facebook}}</div>
                <div class="description">
                    {{likeUsOn}} <a href="{{facebookLink}}">{{facebook}}</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header">{{twitter}}</div>
                <div class="description">
                    Like us on <a href="{{twitterLink}}">{{twitter}}</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header">{{linkedIn}}</div>
                <div class="description">
                    Like us on <a href="{{linkedInLink}}">{{linkedIn}}</a>
                </div>
            </div>
        </div>

    </div>
</div>