<div class="ui container">
    <div class="ui one column centered grid">
        <div class="center aligned column">
            <img id="tl__login__image" src="{{logoPath}}">
        </div>
        <div class="six wide column centered">
            <form class="ui form" id="tl__forgot__password">
                <div id="bl__response__div"></div>
                <div class="ui center aligned attached segment" id="form-segment">
                    <div class="field">
                        <label for="tl__forgot__password__username__or__email">{{usernameOrPasswordLabel}}</label>
                        <input id="tl__forgot__password__username__or__email"
                               name="tl__forgot__password__username__or__email"
                               placeholder="{{usernameOrPasswordPlaceholder}}"
                               type="text">
                    </div>
                </div>
                <button class="ui bottom attached fluid button" id="tl__login__button" type="submit">{{reset}}
                </button>
            </form>
        </div>
        <div class="center aligned column">
            <a href="{{backToLoginLink}}">{{backToLogin}}</a>
        </div>
    </div>
</div>
